Repository BadWolf42/jMQTT, pull requests merged in 2024-06, with the labels that each got.

#322 chore: update dependance.lib
  resources/dependance.lib
Labels: bug, dependencies

#323 fix: processApiRequest
  core/class/jMQTT.class.php
Labels: bug, php

#324 feat: add jMQTTCommunityPost from ng-daemon
  core/ajax/jMQTT.ajax.php
  core/class/jMQTTDaemon.class.php
  desktop/js/jMQTT.config.js
  desktop/js/jMQTT.js
  desktop/php/jMQTT.php
Labels: php, javascript, quality

#328 Fix alphabetical sorting of icons
  core/i18n/fr_FR.json
Labels: bug, good first issue, php

#329 Prevent issue with jeedom core 4.4.8 and load of class
  desktop/php/jMQTT.php
Labels: bug, php, workarround, core4.4
